<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Booking - Confirmation</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: 20px 0 20px 0;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label, input, select, button {
            margin: 8px 0;
        }
    </style>
</head>
<body>
<div>
    <header>
        <h1>Welcome to our Event Booking App</h1>
        <div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
            <div th:if="${#authorization.expression('isAnonymous()')}">
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </header>

    <main>
        <div th:if="${hasError}">
            <div class="alert" role="alert">
                <th:block th:text="${error}"></th:block>
            </div>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/events}" th:method="GET">

                <div>
                    <form th:action="@{/events/search}" th:method="POST">
                        <label for="search">Search</label>
                        <input id="search" type="search" name="search">
                        <br/>
                        <label for="minRating">By Minimum Event Rating (0.00 - 10.00): </label>
                        <input type="number" name="minRating" id="minRating" min="0" max="10" step="0.01"
                               placeholder="Min Rating">
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Search">
                    </form>
                </div>

                <div>
                    <form th:action="@{/events/searchByCategory}" th:method="POST">
                        <label for="searchByCategory">Search By Category</label>
                        <select id="searchByCategory" name="searchByCategory">
                            <option value="">Select a Category</option>
                            <option th:each="cat : ${categories}" th:value="${cat.id}"
                                    th:text="${cat.category}"></option>
                        </select>
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Search">
                    </form>
                </div>

                <div>
                    <form th:action="@{/events/searchByLocation}" th:method="POST">
                        <label for="searchByLocation">Search By Location</label>
                        <select id="searchByLocation" name="searchByLocation">
                            <option value="">Select a Location</option>
                            <option th:each="loc : ${locations}" th:value="${loc.id}" th:text="${loc.address}"></option>
                        </select>
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Search">
                    </form>
                </div>

                <h2 class="mb-4">Choose an Event:</h2>
                <!-- Display events -->
                <form th:action="@{/eventBooking/book}" th:method="POST">
                    <div class="mb-4">
                        <div th:each="event : ${events}">
                            <div class="card">
                                <div>
                                    <h5>
                                        <input type="radio" name="event" th:value="${event.name}">
                                        <span th:text="${event.name}"></span>
                                    </h5>
                                    <p>
                                        <strong>Description:</strong> <span th:text="${event.description}"></span><br/>
                                        <strong>Rating:</strong> <span th:text="${event.popularityScore}"></span><br/>
                                        <strong>Location:</strong> <span
                                            th:text="${event.location.address}"></span><br/>
                                        <strong>Category:</strong> <span
                                            th:text="${event.category.category}"></span><br/>
                                    </p>
                                    <!-- Admin-only actions -->
                                    <div sec:authorize="hasRole('ADMIN')">
                                        <button>
                                            <a th:href="@{'/events/edit-form/{id}' (id=${event.id})}"
                                               class="btn btn-info">Edit</a>
                                        </button>
                                        <button>
                                            <a th:href="@{'/events/delete/{id}' (id=${event.id})}"
                                               class="btn btn-danger">Delete</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Booking Form -->
                    <h2 class="mb-4">Choose Number of Tickets:</h2>
                    <div class="form-group">
                        <label for="numTickets">Number of Tickets:</label>
                        <input type="number" id="numTickets" name="numTickets" min="1" max="10" required>
                    </div>
                    <div class="form-group">
                        <label for="attName">Your Name:</label>
                        <input type="text" id="attName" name="attName" required placeholder="Enter your name">
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </form>
        </div>

        <!-- Add New Event (Admin-only) -->
        <div class="col mb-3 mt-4" sec:authorize="hasRole('ADMIN')">
            <a href="/events/add-form" class="btn btn-dark">Add New Event</a>
        </div>
    </main>
</div>
</body>
</html>
